#/etc/systemd/system
[Unit]
Description=RQ Worker Service %i
After=network.target

[Service]
Type=simple
User=darel
WorkingDirectory=/home/darel/app/rqapp
ExecStart=/home/darel/app/rqapp/rq-app/bin/rq worker


SuccessExitStatus=143
Restart=on-failure
TimeoutStopSec=10
RestartSec=5

[Install]
WantedBy=multi-user.target


# sudo systemctl daemon-reload
# sudo systemctl start rqworker@{1..6}
# sudo systemctl status rqworker@{1..6}
# sudo systemctl disable rqworker@{1..6}
# sudo systemctl enable rqworker@{1..6}
# sudo journalctl -f -n 1000 -u rqworker@1
